<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='ja' xml:lang='ja' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>{{ page.title }}</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <link href='/sha1coin/css/cross/cross.css' rel='stylesheet' type='text/css' />
    <link href='/sha1coin/images/favicon.png' rel='shortcut icon' type='image/png' />
  </head>
  <body>
    {{ content }}
  </body>
</html>
